# GitHub Model Configuration
#GITHUB_TOKEN=<your_github_pat_token>

# Logging
DEBUG=False
LOG_LEVEL=INFO

# OpenSearch Configuration
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200

# RAG URLs
RAG_SERVICE_URL=http://localhost:8080
RAG_UI_URL=http://localhost:8501


# Paths (optional, adjust as needed)
RAG_SYSTEM_PATH=/path/to/local-rag-system
